pyarrow==1.0.1
ipykernel==5.3.4
pyhive==0.6.1
scikit-learn==0.23.2
pandas==1.1.3
koalas==1.7.0
numpy==1.19.2
boto3==1.16.7
ipython==7.19.0
matplotlib==3.2.2
pyspark==3.0.3
jupyterlab==3.6.1
findspark==2.0.1
python-dotenv==1.0.0
